/*
 *   Copyright (c) 2025 
 *   All rights reserved.
 */
Checks: >
    -*,
    cppcoreguidelines-*,
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-type-union-access,
    -bugprone-easily-swappable-parameters,
    -*-non-private-member-variables-inclasses,
    -misc-include-cleaner,

WarningsAsErrors: "*"

CheckOptions: 
    - { key: readability-magic-numbers.IgnorePowersOf2IntegerValues, value: true}